//
// Main Entry Article
//======================

.entry {
  background-color: $entry--background-color;
  margin-bottom: 40px;
  padding: 70px 80px;

  @media only screen and (max-width: 860px) {
    margin-bottom: 5%;
    padding: 30px;
  }
}