/* ### Primary Sidebar */

.sidebar-primary {
  float: right;
  width: $primary-sidebar--width;

  .sidebar-content &,
  .sidebar-sidebar-content & {
    float: left;
  }

  @include media( $breakpoint__screen-size--larger) {
    width: $primary-sidebar--width-larger-screen;
  }
}