//
// Site Description
//===================

.site-description {
  @include rem( font-size, $site-title--font-size );
  font-weight: 400;
  line-height: 1.5;

  @media only screen and (max-width: 1023px) {
    text-align: center;
  }
}

.site-description,
.site-title {
  margin-bottom: 0;
}