//
// Breakpoints
//==========================

$breakpoint__screen-size--larger: new-breakpoint(max-width $screen-size--larger 12);
$breakpoint__screen-size--large: new-breakpoint(max-width $screen-size--large 12);
$breakpoint__screen-size--medium: new-breakpoint(max-width $screen-size--medium 6);
$breakpoint__screen-size--small: new-breakpoint(max-width $screen-size--small 4);