//
// Base Colors
//==========================
$white: #fff;
$black: #000;
$red: #c3251d;
$gray--lightest: #eee;
$gray--lighter: #ccc;
$gray--light: #999;
$gray--medium: #777;
$gray: #333;

//
// Color Configuration
//=========================

$link--color: $red;
$link--hover-color: $gray;

// Elements
$base--color: $gray;
$body--background-color: $gray--lightest;

// Form Elements
$input--background-color: $white;
$input--border-color: $gray--light;
$input--color: $gray;
$input--focus-border-color: $gray;
$button--background-color: $gray;
$button--color: $white;
$button--hover-background-color: $red;
$button--hover-color: $white;
$button--disabled-background-color: $gray--lightest;
$button--disabled-color: $gray--medium;

// Header
$site-title--link-color: $gray;
$siteHeader--background-color: $white;

// Navigation
$nav--link-color: $gray;
$nav--hover-color: $red;

$submenu--border-color: $gray--lightest;
$submenu--link-background-color: $white;

$primary-nav--background-color: $white;
$primary-nav--link-color: $nav--link-color;
$primary-nav--border-color: $gray--lightest;

$secondary-nav--background-color: $white;
$secondary-nav--link-color: $nav--link-color;
$secondary-nav--border-color: $gray--lightest;

$js-nav--background-color: $white;
$js-nav--hover-color: $black;
$js-nav--focus-color: $red;

$nav-toggle--background-color: $white;
$nav-toggle--color: $gray;

$archive-pagination--background-color: $white;
$archive-pagination--color: $gray;
$archive-pagination--hover-background-color: $red;
$archive-pagination--hover-color: $white;

// Footer
$site-footer--border-color: $gray--lightest;
$site-footer--background-color: $white;
$footer-widgets--background-color: $white;

// Entry Content
$entry-footer__meta--border-color: $gray--lightest;
$entry--background-color: $white;
$entry-title--link-color: $gray;
$entry-title--hover-color: $red;
$entry-content__code--background-color: $gray;
$entry-content__code--color: $gray--lightest;

// Comments
$comment--background-color: $white;

// Widgets
$widget-title--link-color: $gray;

// Plugins
$enews--background-color: $gray;
$enews--color: $white;
$enews__input--border-color: $gray;
$enews__submit-button--background-color: $red;
$enews__submit-button--color: $white;
$enews__submit-button--background-hover-color: $white;
$enews__submit-button--hover-color: $gray;

// General Components
$breadcrumbs--background-color: $white;
$author-box--background-color: $white;
$after-entry--background-color: $white;
$archive-description--background-color: $white;