//
// Base
//==========================
$white: #fff;
$black: #000;


$link__color: #c3251d;
$link__hoverColor: #333;



// Elements
$base__color: #333;
$body__backgroundColor: #eee;


// Form Elements
$input__BackgroundColor: $white;
$input__BorderColor: #ddd;
$input__Color: #333;
$input__FocusBorderColor: #333;
$button__BackgroundColor: #333;
$button__Color: $white;
$button__HoverBackgroundColor: #c3251d;
$button__HoverColor: $white;
$button_DisabledBackgroundColor: #eee;
$button_DisabledColor: #777;

//
// Header
//==========================
$siteTitle__LinkColor: #333;
$siteHeader__BackgroundColor: $white;

//
// Navigation
//==========================
$nav__LinkColor: #333;
$nav__HoverColor: #c3251d;

$submenu__BorderColor: $eee;
$submenu__LinkBackgroundColor: $white;

$primaryNav__BackgroundColor: $white;
$primaryNav__LinkColor: $nav__LinkColor;
$primaryNav__BorderColor: #eee;

$secNav__BackgroundColor: $white;
$secNav__LinkColor: $nav__LinkColor;
$secNav__BorderColor: #eee;

$jsNav__BackgroundColor: $white;
$jsNav__HoverColor: $black;
$jsNav__FocusColor: #c3251d;

$navToggle__BackgroundColor: $white;
$navToggle__Color: #333;

$archivePagination__BackgroundColor: $white;
$archivePagination__Color; #333;
$archivePagination__HoverBackgroundColor: $c3251d;
$archivePagination__HoverColor: $white;

//
// Footer
//==========================
$siteFooter__BorderColor: #eee;
$siteFooter__BackgroundColor: $white;
$footerWidgets__BackgroundColor: $white;

//
// Entry Content
//==========================
$entryFooter__Meta__BorderColor: #eee;
$entry__BackgroundColor: $white;
$entryTitle__LinkColor: #333;
$entryTitle__HoverColor: #c3251d;

$entryContent__Code__BackgroundColor: #333;
$entryContent__Code__Color: #eee;

//
// Comments
//==========================
$comment__BackgroundColor: $white;

//
// Widgets
//==========================
$widgetTitle__LinkColor: #333;

//
// Plugins
//==========================
$enews__BackgroundColor: #333;
$enews__Color: $white;
$enews__InputBorderColor: #333;
$enews__SubmitButton__BackgroundColor: #c3251d;
$enews__SubmitButton__Color: $white;
$enews__SubmitButton__BackgroundHoverColor: $white;
$enews__SubmitButton__HoverColor: #333;

//
// General Components
//==========================
$breadcrumbs__BackgroundColor: $white;
$authorBox__BackgroundColor: $white;
$afterEntry__BackgroundColor: $white;
$archiveDescription__BackgroundColor: $white;


