//
// Dimension Variables
//================
$base--width: 1280;
$gutter: 40;

//
// Max Widths
//=======================
$max-width: $base--width + px;
$max-width-larger-screen: $base--width * .890625 + px;
$max-width-large-screen: $base--width * .75 + px;
$max-width--medium-screen: $base--width * .625 + px;
$max-width__landing-page: $base--width * .625 + px;
//
// Content Widths
//=======================
$content--width: $base--width * 0.6875 + px;
$content--width-larger-screen: $base--width * .625 + px;
$content--width-large-screen: $base--width * .484375 + px;
$content-both-sidebars--width: $base--width * .515625 + px;
$content-both-sidebars--width-larger-screen: $base--width * .4453125 + px;
$content-both-sidebars--width-large-screen: $base--width * .3125 + px;

$primary-sidebar--width: $base--width * 0.28125 + px;
$primary-sidebar--width-larger-screen: $base--width * .234375 + px;
$secondary-sidebar--width: $base--width * .140625 + px;

$content-sidebar-wrap--width: $base--width * .828125 + px;
$content-sidebar-wrap--width-larger-screen: $base--width * .71875 + px;
$content-sidebar-wrap--width-large-screen: $base--width * .578125 + px;

// Header Module
$title-area--width: $base--width * .296875 + px;
$title-area--min-height: $base--width * .0625 + px;
$header-right--width: $base--width * .625 + px;
$header-right--width-large-screen: $base--width * .484375 + px;

// Footer Module
$footer-widgets--width: $base--width * .296875 + px;
$footer-widgets--width-large-screen: $base--width * .234375 + px;