//
// Dimension Variables
//================


// Header Module
$titleArea__Width: 300px;
$titleArea__MinHeight: 80px;
$headerRight__Width: 800px;
$headerRight__DesktopWidth: 620px;

// Footer Module
$footerWidgets__Width: 380px;
$footerWidgets__DesktopWidth: 300px;